<% layout("/layouts/boilerplate") %>

<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="auth-card p-4">
    <h4 class="text-center mb-1 fw-semibold">Create New Listing</h4>
    <p class="text-center text-muted mb-4">Add a new place to HomeHunt</p>

    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control auth-input"
          required
        />
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          name="listing[description]"
          rows="3"
          class="form-control auth-input"
          placeholder="Describe your place"
          required
        ></textarea>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label class="form-label">Listing Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control auth-input"
          required
        />
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label">Price (₹ / night)</label>
        <input
          type="number"
          name="listing[price]"
          placeholder="1200"
          class="form-control auth-input"
          required
        />
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="India"
          class="form-control auth-input"
          required
        />
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          class="form-control auth-input"
          required
        />
      </div>

      <!-- Button -->
      <button class="auth-btn w-100 mt-2">Add Listing</button>
    </form>
  </div>
</div>
